.present{
    position: absolute;
    top: 170px;
    width: 450px;
    height: 650px;
    padding :20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    overflow: hidden;
    h3{
        margin: 10px 0px;
    }
    input{
        width: 358px;
        height: 48px;
        border: 2px dotted gray;
        border-radius: 30px;
    }
}

.boundaryLine{
    width: 390px;
    height: 1px;
    margin: 20px 0px;
    border: 1px solid #E6E6E6;
}

.viewBtn{
    width: 300px;
    height: 50px;
    background-color: #F22C00;
    border: 1px solid #F22C00;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}