img{
  width: 30px;
}

// 이미지와 이름등 개인정보 style
.Info{
  display: flex;
  margin: 5% 10%;
  img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 80%;
  }
  div{
    width: 180px;
    margin-left: 5%;
  }
  .infoFirstDiv{
    margin: 3% auto 0;
  }
  .infoSecondDiv{
    margin: 3% auto 0;
  }
  h1{
    font-size: 20px;
  }
}

// 프로필 수정 부분
.changeMyInfo{
  width: 85%;
  margin: 0 auto;
  display: flex;
  div{
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
}

.hrLines{
  width: 90%;
  border: 1px solid #e6e6e6;
}

// 각 메뉴 style
.chooseMenu{
  width: 85%;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  .menuCheck{
    display: flex;
    div{
      margin-left: 20px;
      display: flex;
      align-items: center;
    }
  }
 
}

// 각 메뉴의 토글 div
.menuToggle{
    width: 85%;
    margin: 10px auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
  }

.payBox{
  width: 160px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E6E6E6;
  div{
    margin-top: 2%;
    font-size: 17px;
  }
  span{
    font-size: 12px;
    color:#999999;
  }
}

.payBox2{
  width: 160px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  div{
    margin-top: 2%;
    font-size: 17px;
  }
  span{
    font-size: 12px;
    color:#999999;
  }
  
}

.btnEdit{
  position: absolute;
  top: 26px;
  left:40px;
}

.btnDelete{
  position: absolute;
  top: 26px;
  right: 40px;
}

.passOrCard{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  div{
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #E6E6E6;
  }
}

.secondDiv{
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px auto 0;
}

.toggleSwitch {
  width: 60px;
  height: 35px;
  display: block;
  position: relative;
  border-radius: 30px;
  border:  1px solid #999999;
  background-color: transparent;
  // box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
  // margin: 30px;
}

.toggleSwitch .toggleButton {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background:#F22C00;
}

#toggle:checked ~ .toggleSwitch {
  background: #F22C00;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 30px);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.3s ease-in;
}

.toggleSwitch2 {
  width: 60px;
  height: 35px;
  display: block;
  position: relative;
  border-radius: 30px;
  border:  1px solid #999999;
  background-color: transparent;
  // box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
  // margin: 30px;
}

.toggleSwitch2 .toggleButton2 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background:#F22C00;
}

#toggle2:checked ~ .toggleSwitch2 {
  background: #F22C00;
}

#toggle2:checked ~ .toggleSwitch2 .toggleButton2 {
  left: calc(100% - 30px);
  background: #fff;
}

.toggleSwitch2, .toggleButton2 {
  transition: all 0.3s ease-in;
}

.logOutAndVersion{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
  h1{
    font-size: 16px;
    margin-bottom: 10px;
  }
  h4{
    font-size: 14px;
    color:#999999 ;
  }
  h6{
    font-size: 12px;
    color: #999999;
  }
}