.detailParty {
    position: relative;
}

.boundaryLine {
    width: 390px;
    height: 1px;
    margin: 20px 0px;
    border: 1px solid #e6e6e6;
}

button {
    cursor: pointer;
}

.mainDetailList {
    // position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    background-color: #f2f2f2;
    top: 120px;
    .partyList {
        margin-bottom: 20px;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            li {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 60px;
                height: 60px;
                margin: 10px 0px;
                text-align: center;
                border: 1px solid black;
                border-radius: 100%;
                overflow: hidden;
            }
        }

        .discountPer {
            display: flex;
            justify-content: flex-end;
            width: 390px;
            padding-right: 20px;
        }
    }
}
.pmBtnList {
    width: 80%;
    display: flex;
    justify-content: space-around;

    button {
        width: 110px;
        height: 40px;
        background-color: white;
        border: 1px solid white;
        border-radius: 30px;
        margin: 10px 0px;
    }

    .selectInvite {
        background-color: #f22c00;
        border: 1px solid #f22c00;
    }
}

.discount {
    width: 390px;
    margin: 30px 0px;

    .checkBtn {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid black;
        background-color: white;
    }

    .couponList {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
        .coupon {
            display: flex;
            align-items: center;
        }
    }

    .point {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 390px;
        margin: 10px 0px;
        .isPoint {
            width: 200px;
            height: 48px;
            border: 1px solid #e6e6e6;
            border-radius: 4px;
            text-align: end;
        }
    }
}
.checkPoint {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 390px;
}

.needTextBox {
    width: 390px;
    margin: 10px 0px;
    textarea {
        width: 390px;
        height: 50px;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        resize: none;
    }
}

.title {
    width: 390px;
    margin: 20px 0px;
}
