.container{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 88px;
  border-radius: 30px 30px 0 0 ;
  // pc 화면
  @media screen and (min-width:1024px) {
    width: 388px;
  }
  // 태블릿 화면
  @media screen and (max-width:1023px) {
    width: 388px;
  }
  // 모바일 화면
  @media screen and (max-width:540px){
    width: 100vw;
  }
  .navDiv{
    width: 70px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
}